Repository neilinger/businessmap-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

fix(ci): use --noCheck in release workflow to prevent OOM
  .github/workflows/release.yml
Due: none

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5e6a1bde1dc097112923b6d1f166c34f59894fb6
Due: none

fix(build): use --noCheck in npm build script
  package.json
Due: prettier --write

chore(release): 3.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  791dd32af7f02381a34c71c61c10b353f371982f
Due: none

docs: Add investigation report for issue #41 inputSchema pattern
  docs/investigation-issue-41-inputschema-pattern.md
  src/schemas/utility-schemas-v3.ts
  src/server/tools/utility-tools-prototype.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

fix: migrate Zod imports from 'zod' to 'zod/v4' for SDK compatibility
  src/config/instance-manager.ts
  src/schemas/board-schemas.ts
  src/schemas/bulk-schemas.ts
  src/schemas/card-schemas.ts
  src/schemas/common-schemas.ts
  src/schemas/custom-field-schemas.ts
  src/schemas/security-validation.ts
  src/schemas/shared-card-schemas.ts
  src/schemas/shared-params.ts
  src/schemas/user-schemas.ts
  src/schemas/utility-schemas-v3.ts
  src/schemas/utility-schemas.ts
  src/schemas/workflow-schemas.ts
  src/schemas/workspace-schemas.ts
  src/server/tools/instance-tools.ts
  src/server/tools/utility-tools-prototype.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

docs: update investigation report to reflect zod/v4 implementation
  docs/investigation-issue-41-inputschema-pattern.md
Due: prettier --write

fix: migrate Zod imports to zod/v4 for SDK compatibility (resolves #41) (#42)
  docs/investigation-issue-41-inputschema-pattern.md
  src/config/instance-manager.ts
  src/schemas/board-schemas.ts
  src/schemas/bulk-schemas.ts
  src/schemas/card-schemas.ts
  src/schemas/common-schemas.ts
  src/schemas/custom-field-schemas.ts
  src/schemas/security-validation.ts
  src/schemas/shared-card-schemas.ts
  src/schemas/shared-params.ts
  src/schemas/user-schemas.ts
  src/schemas/utility-schemas-v3.ts
  src/schemas/utility-schemas.ts
  src/schemas/workflow-schemas.ts
  src/schemas/workspace-schemas.ts
  src/server/tools/instance-tools.ts
  src/server/tools/utility-tools-prototype.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore(release): 3.1.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  355ab7d9bb7abcf736b0c7c821f9983065a0f553
Due: none

refactor(schemas): split card-schemas.ts into smaller modules (#39)
  src/schemas/card-comment-schemas.ts
  src/schemas/card-helper-schemas.ts
  src/schemas/card-mutation-schemas.ts
  src/schemas/card-query-schemas.ts
  src/schemas/card-relationship-schemas.ts
  src/schemas/card-schemas.ts
  src/schemas/card-subtask-schemas.ts
  src/schemas/index.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore(schemas): address code review feedback
  src/schemas/card-comment-schemas.ts
  src/schemas/card-helper-schemas.ts
  src/schemas/card-mutation-schemas.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

fix(test): run integration tests sequentially for rate limit resilience (#44)
  jest.integration.config.js
  test/integration/infrastructure/setup.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

fix(client): add RL02 error code to rate limit retry condition (#44)
  src/client/businessmap-client.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

fix(test): properly await async getClient calls in multi-instance tests (#44)
  src/client/businessmap-client.ts
  test/integration/multi-instance/multi-instance.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

fix(test): improve rate limit resilience in integration tests (#44) (#45)
  jest.integration.config.js
  src/client/businessmap-client.ts
  test/integration/infrastructure/setup.ts
  test/integration/multi-instance/multi-instance.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore(release): 3.1.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c8565597bd52e6fa8ceb565e1d9fc8763f1a9862
Due: none

chore(ci): move integration tests from pre-push to PR creation
  .husky/pre-push
Due: none

fix(test): add missing lane_id to integration tests (#46)
  src/client/modules/card-client.ts
  test/integration/issue-18-update-card-subtasks-links.test.ts
  test/integration/issue-21-subtask-creation.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

fix(test): add missing lane_id to integration tests (#46) (#47)
  src/client/modules/card-client.ts
  test/integration/issue-18-update-card-subtasks-links.test.ts
  test/integration/issue-21-subtask-creation.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore(release): 3.1.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  aef8a169510ab1c9d10cd07baccc97b4cdb572e0
Due: none

docs(schema): document conditional lane_id requirement
  src/schemas/bulk-schemas.ts
  src/schemas/card-mutation-schemas.ts
  src/schemas/common-schemas.ts
  src/schemas/shared-params.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

docs(schema): document conditional lane_id requirement (#51)
  src/schemas/bulk-schemas.ts
  src/schemas/card-mutation-schemas.ts
  src/schemas/common-schemas.ts
  src/schemas/shared-params.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(test): standardize error messages across integration tests
  test/integration/api/issue-4-parent-link-preservation.test.ts
  test/integration/infrastructure/error-messages.ts
  test/integration/issue-18-update-card-subtasks-links.test.ts
  test/integration/issue-21-subtask-creation.test.ts
  test/integration/issue-26-card-comments-crud.test.ts
  test/integration/multi-instance/phase9-validation.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(test): create shared test-card-factory utility (#48)
  src/types/card.ts
  test/integration/infrastructure/test-card-factory/errors.ts
  test/integration/infrastructure/test-card-factory/factory.ts
  test/integration/infrastructure/test-card-factory/index.ts
  test/integration/infrastructure/test-card-factory/tracker.ts
  test/integration/infrastructure/test-card-factory/types.ts
  test/integration/issue-18-update-card-subtasks-links.test.ts
  test/integration/issue-21-subtask-creation.test.ts
  test/integration/issue-26-card-comments-crud.test.ts
  test/unit/infrastructure-test-card-factory.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(test): simplify tracker.ts - remove unused file persistence
  test/integration/infrastructure/test-card-factory/index.ts
  test/integration/infrastructure/test-card-factory/tracker.ts
  test/unit/infrastructure-test-card-factory.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(test): create shared test-card-factory utility (#48) (#53)
  CHANGELOG.md
  src/types/card.ts
  test/integration/infrastructure/test-card-factory/errors.ts
  test/integration/infrastructure/test-card-factory/factory.ts
  test/integration/infrastructure/test-card-factory/index.ts
  test/integration/infrastructure/test-card-factory/tracker.ts
  test/integration/infrastructure/test-card-factory/types.ts
  test/integration/issue-18-update-card-subtasks-links.test.ts
  test/integration/issue-21-subtask-creation.test.ts
  test/integration/issue-26-card-comments-crud.test.ts
  test/unit/infrastructure-test-card-factory.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

fix(security): enforce HTTPS-only for API connections (#55)
  README.md
  schemas/instances-config.schema.json
  src/client/businessmap-client.ts
  src/config/environment.ts
  src/config/instance-manager.ts
  src/utils/secure-url.ts
  test/integration/security/https-enforcement.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

fix(security): enforce HTTPS-only for API connections (#55) (#76)
  README.md
  schemas/instances-config.schema.json
  src/client/businessmap-client.ts
  src/config/environment.ts
  src/config/instance-manager.ts
  src/utils/secure-url.ts
  test/integration/security/https-enforcement.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore(release): 3.1.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8c5af96b5f846b40e4128a746d0d61e038f29136
Due: none

chore: consolidate logging to use structured logger (#70)
  src/client/businessmap-client.ts
  src/client/client-factory.ts
  src/client/modules/base-client.ts
  src/client/modules/card-client.ts
  src/client/modules/utility-client.ts
  src/config/environment.ts
  src/index.ts
  src/server/mcp-server.ts
  src/server/tools/base-tool.ts
  src/server/tools/board-tools.ts
  src/server/tools/workflow-tools.ts
  src/utils/logger.ts
  src/utils/secure-url.ts
  test/unit/logger.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore: consolidate logging to use structured logger (#70) (#77)
  src/client/businessmap-client.ts
  src/client/client-factory.ts
  src/client/modules/base-client.ts
  src/client/modules/card-client.ts
  src/client/modules/utility-client.ts
  src/config/environment.ts
  src/index.ts
  src/server/mcp-server.ts
  src/server/tools/base-tool.ts
  src/server/tools/board-tools.ts
  src/server/tools/workflow-tools.ts
  src/utils/logger.ts
  src/utils/secure-url.ts
  test/unit/logger.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore: configure path aliases to eliminate deep relative imports (#71)
  jest.config.js
  jest.integration.config.js
  jest.performance.config.js
  package-lock.json
  package.json
  src/client/modules/base-client.ts
  src/client/modules/board-client.ts
  src/client/modules/card-client.ts
  src/client/modules/custom-field-client.ts
  src/client/modules/user-client.ts
  src/client/modules/utility-client.ts
  src/client/modules/workflow-client.ts
  src/client/modules/workspace-client.ts
  src/server/tools/base-tool.ts
  src/server/tools/board-tools.ts
  src/server/tools/card-tools.ts
  src/server/tools/custom-field-tools.ts
  src/server/tools/instance-tools.ts
  src/server/tools/user-tools.ts
  src/server/tools/utility-tools-prototype.ts
  src/server/tools/utility-tools.ts
  src/server/tools/workflow-tools.ts
  src/server/tools/workspace-tools.ts
  tsconfig.json
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

fix(profiles): add instance tools to profiles and fix test assertions
  src/config/tool-profiles.ts
  test/integration/profile-based-registration.test.ts
  test/unit/tool-profiles.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit': any of: *.{ts,tsx}
