Repository neilinger/businessmap-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "bash -c 'NODE_OPTIONS=\"--max-old-space-size=768\" npx tsc-files --noEmit'"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

chore: configure path aliases to eliminate deep relative imports (#78)
  jest.config.js
  jest.integration.config.js
  jest.performance.config.js
  package-lock.json
  package.json
  src/client/modules/base-client.ts
  src/client/modules/board-client.ts
  src/client/modules/card-client.ts
  src/client/modules/custom-field-client.ts
  src/client/modules/user-client.ts
  src/client/modules/utility-client.ts
  src/client/modules/workflow-client.ts
  src/client/modules/workspace-client.ts
  src/config/tool-profiles.ts
  src/server/tools/base-tool.ts
  src/server/tools/board-tools.ts
  src/server/tools/card-tools.ts
  src/server/tools/custom-field-tools.ts
  src/server/tools/instance-tools.ts
  src/server/tools/user-tools.ts
  src/server/tools/utility-tools-prototype.ts
  src/server/tools/utility-tools.ts
  src/server/tools/workflow-tools.ts
  src/server/tools/workspace-tools.ts
  test/integration/profile-based-registration.test.ts
  test/unit/tool-profiles.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore: delete backup and prototype files (#54)
  .gitignore
  src/schemas/utility-schemas-v3.ts
  src/server/tools/board-tools.ts.bak
  src/server/tools/utility-tools-prototype.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

docs: add security comment explaining ReDoS false positive (#57)
  src/client/modules/base-client.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore: project housekeeping (#54, #57) (#80)
  .gitignore
  src/client/modules/base-client.ts
  src/schemas/utility-schemas-v3.ts
  src/server/tools/board-tools.ts.bak
  src/server/tools/utility-tools-prototype.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(types): replace 'any' with z.infer<> in tool handlers (#59)
  src/server/tools/base-tool.ts
  src/server/tools/board-tools.ts
  src/server/tools/card-tools.ts
  src/server/tools/card-tools.ts.bak3
  src/server/tools/card-tools.ts.bak4
  src/server/tools/custom-field-tools.ts
  src/server/tools/user-tools.ts
  src/server/tools/utility-tools.ts
  src/server/tools/workflow-tools.ts
  src/server/tools/workspace-tools.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(types): add typed catch blocks and generic CacheManager (#60, #61)
  src/client/businessmap-client.ts
  src/client/client-factory.ts
  src/client/modules/base-client.ts
  src/client/modules/board-client.ts
  src/client/modules/card-client.ts
  src/client/modules/utility-client.ts
  src/client/modules/workspace-client.ts
  src/config/instance-manager.ts
  src/index.ts
  src/metrics/metrics-reporter.ts
  src/metrics/token-counter.ts
  src/server/mcp-server.ts
  src/server/tools/board-tools.ts
  src/server/tools/card-tools.ts
  src/server/tools/custom-field-tools.ts
  src/server/tools/instance-tools.ts
  src/server/tools/user-tools.ts
  src/server/tools/utility-tools.ts
  src/server/tools/workflow-tools.ts
  src/server/tools/workspace-tools.ts
  src/services/dependency-analyzer.ts
  src/utils/logger.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(types): P1 type safety improvements (#59, #60, #61) (#81)
  src/client/businessmap-client.ts
  src/client/client-factory.ts
  src/client/modules/base-client.ts
  src/client/modules/board-client.ts
  src/client/modules/card-client.ts
  src/client/modules/utility-client.ts
  src/client/modules/workspace-client.ts
  src/config/instance-manager.ts
  src/index.ts
  src/metrics/metrics-reporter.ts
  src/metrics/token-counter.ts
  src/server/mcp-server.ts
  src/server/tools/base-tool.ts
  src/server/tools/board-tools.ts
  src/server/tools/card-tools.ts
  src/server/tools/card-tools.ts.bak3
  src/server/tools/card-tools.ts.bak4
  src/server/tools/custom-field-tools.ts
  src/server/tools/instance-tools.ts
  src/server/tools/user-tools.ts
  src/server/tools/utility-tools.ts
  src/server/tools/workflow-tools.ts
  src/server/tools/workspace-tools.ts
  src/services/dependency-analyzer.ts
  src/utils/logger.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor: extract date filter flattening to utility (#67)
  src/server/tools/card-tools.ts
  src/utils/date-filter-utils.ts
  test/unit/date-filter-utils.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(types): adopt utility types for CardFilters (#68)
  src/client/modules/card-client.ts
  src/utils/date-filter-utils.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(types): implement discriminated unions for resource types (#69)
  src/services/dependency-analyzer.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(types): add BulkUpdateCardFields using Pick utility (#68)
  src/server/tools/card-tools.ts
  src/types/card.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(types): P3 type safety improvements (#67, #68, #69) (#82)
  src/client/modules/card-client.ts
  src/server/tools/card-tools.ts
  src/services/dependency-analyzer.ts
  src/types/card.ts
  src/utils/date-filter-utils.ts
  test/unit/date-filter-utils.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore(release): 3.1.6
  package-lock.json
  package.json
Due: prettier --write

refactor(tools): split card-tools.ts into focused modules (#66)
  src/server/tools/card-tools.ts
  src/server/tools/card-tools/card-bulk-tools.ts
  src/server/tools/card-tools/card-comment-tools.ts
  src/server/tools/card-tools/card-crud-tools.ts
  src/server/tools/card-tools/card-move-tools.ts
  src/server/tools/card-tools/card-relationship-tools.ts
  src/server/tools/card-tools/card-subtask-tools.ts
  src/server/tools/card-tools/index.ts
  src/server/tools/index.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(tools): split card-tools.ts into focused modules (#66) (#83)
  src/server/tools/card-tools.ts
  src/server/tools/card-tools/card-bulk-tools.ts
  src/server/tools/card-tools/card-comment-tools.ts
  src/server/tools/card-tools/card-crud-tools.ts
  src/server/tools/card-tools/card-move-tools.ts
  src/server/tools/card-tools/card-relationship-tools.ts
  src/server/tools/card-tools/card-subtask-tools.ts
  src/server/tools/card-tools/index.ts
  src/server/tools/index.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(tools): extract card-metadata-tools module (#66)
  src/server/tools/card-tools/card-crud-tools.ts
  src/server/tools/card-tools/card-metadata-tools.ts
  src/server/tools/card-tools/card-move-tools.ts
  src/server/tools/card-tools/index.ts
  test/unit/server-tools/card-tools.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

refactor(tools): extract card-metadata-tools module (#66) (#84)
  src/server/tools/card-tools/card-crud-tools.ts
  src/server/tools/card-tools/card-metadata-tools.ts
  src/server/tools/card-tools/card-move-tools.ts
  src/server/tools/card-tools/index.ts
  test/unit/server-tools/card-tools.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

feat(tools): add update_card_subtask MCP tool (#87)
  bun.lock
  src/schemas/card-subtask-schemas.ts
  src/server/tools/card-tools/card-subtask-tools.ts
  test/integration/issue-87-update-card-subtask.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

feat(tools): add update_card_subtask MCP tool (#87) (#89)
  bun.lock
  src/schemas/card-subtask-schemas.ts
  src/server/tools/card-tools/card-subtask-tools.ts
  test/integration/issue-87-update-card-subtask.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore(release): 3.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d546644776302b74c11834a997ca94f1b9acdb4f
Due: none

fix(tools): add update_card_subtask to FULL_PROFILE
  src/config/tool-profiles.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore(release): 3.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8205f6c026d191bd1f813b61f81b6bc847db1f2d
Due: none

feat: add block_card and unblock_card MCP tools (v3.3.0)
  package.json
  src/client/businessmap-client.ts
  src/client/modules/card-client.ts
  src/schemas/card-mutation-schemas.ts
  src/server/tools/card-tools/card-blocker-tools.ts
  src/server/tools/card-tools/index.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore(release): 3.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
Due: prettier --write

Notes added by 'git notes add'
  3cc8f7e3891330e7784713dde617e14bcd045848
Due: none

fix(profiles): add block_card and unblock_card to FULL_PROFILE
  package.json
  src/config/tool-profiles.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore(release): 3.3.1 [skip ci]
  CHANGELOG.md
  package-lock.json
Due: prettier --write

Notes added by 'git notes add'
  3f3d1791d59907316aa85fd0eac678d50e849eb5
Due: none

docs(agents): scaffold engineering-skills config
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: prettier --write

refactor(tools): collapse registration seam into ToolRegistrar
  CONTEXT.md
  docs/grills/2026-06-20-domain-model.md
  docs/grills/2026-06-20-registration-seam-collapse.md
  src/config/tool-profiles.ts
  src/server/mcp-server.ts
  src/server/tool-registrar.ts
  src/server/tools/base-tool.ts
  src/server/tools/board-tools.ts
  src/server/tools/card-tools/card-blocker-tools.ts
  src/server/tools/card-tools/card-bulk-tools.ts
  src/server/tools/card-tools/card-comment-tools.ts
  src/server/tools/card-tools/card-crud-tools.ts
  src/server/tools/card-tools/card-metadata-tools.ts
  src/server/tools/card-tools/card-move-tools.ts
  src/server/tools/card-tools/card-relationship-tools.ts
  src/server/tools/card-tools/card-subtask-tools.ts
  src/server/tools/card-tools/index.ts
  src/server/tools/custom-field-tools.ts
  src/server/tools/instance-tools.ts
  src/server/tools/user-tools.ts
  src/server/tools/utility-tools.ts
  src/server/tools/workflow-tools.ts
  src/server/tools/workspace-tools.ts
  test/unit/tool-registrar.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore: add project key for AMI billing
  .project-key
Due: none

chore: baseline hygiene — track project identity + ignore generated residue
  .gitignore
Due: none

chore(specify): retire SpecKit templates
  .specify/memory/constitution.md
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: prettier --write

chore: ignore graphify output artifacts
  .gitignore
Due: none

fix(client): request /customFields, not /custom_fields (#94)
  src/client/modules/custom-field-client.ts
  test/unit/issue-94-custom-field-endpoint-casing.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

fix(client): request /customFields, not /custom_fields (#94) (#95)
  .gitignore
  .project-key
  .specify/memory/constitution.md
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CONTEXT.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
  docs/grills/2026-06-20-domain-model.md
  docs/grills/2026-06-20-registration-seam-collapse.md
  src/client/modules/custom-field-client.ts
  src/config/tool-profiles.ts
  src/server/mcp-server.ts
  src/server/tool-registrar.ts
  src/server/tools/base-tool.ts
  src/server/tools/board-tools.ts
  src/server/tools/card-tools/card-blocker-tools.ts
  src/server/tools/card-tools/card-bulk-tools.ts
  src/server/tools/card-tools/card-comment-tools.ts
  src/server/tools/card-tools/card-crud-tools.ts
  src/server/tools/card-tools/card-metadata-tools.ts
  src/server/tools/card-tools/card-move-tools.ts
  src/server/tools/card-tools/card-relationship-tools.ts
  src/server/tools/card-tools/card-subtask-tools.ts
  src/server/tools/card-tools/index.ts
  src/server/tools/custom-field-tools.ts
  src/server/tools/instance-tools.ts
  src/server/tools/user-tools.ts
  src/server/tools/utility-tools.ts
  src/server/tools/workflow-tools.ts
  src/server/tools/workspace-tools.ts
  test/unit/issue-94-custom-field-endpoint-casing.test.ts
  test/unit/tool-registrar.test.ts
Due: eslint --fix, prettier --write, bash -c 'NODE_OPTIONS="--max-old-space-size=768" npx tsc-files --noEmit'

chore(release): 3.3.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
